#!/usr/bin/make -f
# debian/rules for the Debian libxxf86dga package.
# Copyright © 2004 Scott James Remnant <scott@netsplit.com>
# Copyright © 2005 Daniel Stone <daniel@fooishbar.org>
# Copyright © 2005 David Nusinow <dnusinow@debian.org>

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

# set this to the name of the main shlib's binary package
PACKAGE = libxxf86dga1

%:
	dh $@ --builddirectory=build

override_dh_auto_clean:
	dh_auto_clean
	rm -f build-stamp
	rm -f config.cache config.log config.status
	rm -f */config.cache */config.log */config.status
	rm -f conftest* */conftest*
	rm -rf autom4te.cache */autom4te.cache
	rm -rf build
	rm -f aclocal.m4 compile config.guess config.sub configure
	rm -f depcomp install-sh ltmain.sh missing mkinstalldirs
	rm -f src/config.h.in
	find -name Makefile.in -delete

override_dh_install:
	find debian/tmp -name '*.la' -delete
	dh_install
